
<cabecalho></cabecalho>

<div id="container-consulta-produtos" ng-controller="homeController as ctrl" ng-init="ctrl.init()">
    <modalInformacao></modalInformacao>
    <modalAlertaErro></modalAlertaErro>
    <modalLoading></modalLoading>

    <div id="container-principal" class="col-md-9 col-xs-9" style="padding-left:0;padding-right:0;" ng-class="!ctrl.focoOrcamento && 'selecionado'" ng-click="ctrl.focoOrcamento = false">
        <div ng-include src="'home/produto'"></div>
    </div>
    <div id="container-orcamento" class="col-md-3 col-xs-3"
         ng-class="ctrl.focoOrcamento && 'selecionado'"
         ng-click="ctrl.focoOrcamento = true">
        <div ng-include src="'home/orcamento'"></div>
    </div>
</div>
