<cabecalho></cabecalho>

<div ng-controller="HomeController as ctrl">
    <modalAlertaErro></modalAlertaErro>
    <div class="row">
        <div class="col-md-3">
            <informacaoperfil usuario="ctrl.Usuario"></informacaoperfil>
        </div>
        <div class="col-md-6">
            
        </div>
        <div class="col-md-3">
            
        </div>
    </div>
</div>

<rodape></rodape>