<div ng-controller="OrcamentoController as ctrl" ng-click="ctrl.desselecionarLinhaTabela()" ng-init="ctrl.init()">

    <div id="titulo-orcamento" class="container-externo-alinhamento">
        <div class="container-interno-alinhamento" style="max-width:18px;">
            <i class="material-icons titulo-secao-icone">add_shopping_cart</i>
        </div>
        <div class="container-interno-alinhamento">
            <span class="titulo-secao" style="margin-top:2%;"> ORÇAMENTO (CTRL + O) </span>
        </div>
    </div>
    <div id="itens-orcamento">
        <span class="col-xs-3 col-nopadding label-orcamento-titulo" style="padding:0"><b>PRODUTOS</b></span>
        <span class="col-xs-9 label-orcamento-subtitulo" style="padding:0">(CTRL + DEL) para excluir da lista</span>
        <hr class="col-xs-12" style="padding:0">

        <div id="container-grid-orcamento" class="col-xs-12" style="padding:0">
            <span class="dica-orcamento" ng-show="ctrl.orcamento.length == 0 && ctrl.KitVirtual.length == 0">Adicione produtos a essa lista para simular o orçamento. Para incluir produtos faça a busca ao lado e aperte a tecla <b>ENTER</b> quando a linha estiver selecionada ou bipe o código dos produtos desejados.</span>
            <table id="grid-orcamento">
                <tr ng-repeat="(idx, item) in ctrl.orcamento.slice() track by $index">
                    <td colspan="8" style="width:100%">
                        <table style="width:100%">
                            <tbody>
                                <tr ng-show="item.exibirLinhaProduto" ng-click="ctrl.selecionarItemOrcamento($event);">
                                    <td>
                                        <input type="hidden" value="{{item}}" />
                                        <div class="nome-produto">{{ item.DescricaoResumida }}</div>
                                        <div class="valores-produto">
                                            <span ng-if="!item.IndicExclusivoFP">De {{ item.PrecoDe | currency : "R$" : 2 }}</span>
                                            <span ng-show="!item.especial || !item.IndicFP">Por {{item.PrecoPor | currency : "R$" : 2 }}</span>
                                            <span class="preco-fp" ng-show="item.especial && item.IndicFP">Por {{ item.PrecoFP | currency : "R$" : 2 }}</span>
                                        </div>
                                    </td>
                                    <td class="td-quantidade-produto">
                                        <div style="position:relative">
                                            <input type="text" maxlength="10" autocomplete="off" id="quantidade-produto_{{item.Codigo}}" class="input-foco-fundo-azul quantidade-produto _a-b-a_quantidade-produto"
                                                   ng-model="item.quantidadeForaKit"
                                                   ng-change="ctrl.permitirSomenteNumeros(item, $event);"
                                                   ng-blur="item.quantidadeForaKit = ctrl.naoPermitirQuantidadeInvalida(item, false); ctrl.atualizarQuantidadeOrcamento(item);"/>
                                            <label class="posologia-produto" for="quantidade-produto_{{idx}}">{{ item.TipoEmbalagem | lowercase }}</label>
                                        </div>
                                    </td>
                                    <td class="td-excluir-produto">
                                        <i class="excluir-produto material-icons" ng-click="ctrl.removerOrcamento(item, $event);">close</i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr ng-repeat="kit in ctrl.KitVirtual">
                    <td colspan="8" style="width:100%">
                        <table id="tabela-kit">
                            <tbody>
                                <tr class="registro-kit" ng-repeat="(idx, item) in kit.produtos" ng-click="ctrl.selecionarItemOrcamento($event);">
                                    <td>
                                        <input type="hidden" value="{{item}}" />
                                        <div class="nome-produto">{{ item.DescricaoResumida }}</div>

                                    </td>
                                    <td class="td-quantidade-produto">
                                        <div style="position:relative">
                                            <input type="text" maxlength="10" autocomplete="off" id="quantidade-produto-kit_{{item.Codigo}}" class="input-foco-fundo-azul quantidade-produto _a-b-a_quantidade-produto"
                                                   ng-model="item.quantidadeEmKit"
                                                   ng-change="ctrl.permitirSomenteNumeros(item, $event); "
                                                   ng-blur="item.quantidadeEmKit = ctrl.naoPermitirQuantidadeInvalida(item, true); ctrl.atualizarQuantidadeOrcamentoPeloProdutoKit(item)" />
                                            <label class="posologia-produto" for="quantidade-produto_{{idx}}">{{ item.TipoEmbalagem | lowercase }}</label>
                                        </div>
                                    </td>
                                    <td class="td-excluir-produto">
                                        <i class="excluir-produto material-icons" ng-click="ctrl.excluirProdutoPeloProdutoKit(item);">close</i>
                                    </td>
                                </tr>
                                <tr id="preco-kit" class="registro-kit" style="width: 100%" ng-repeat="(idx, item) in kit.produtos" ng-click="ctrl.selecionarItemOrcamento($event);">
                                    <td>
                                        <div class="valores-produto" ng-show="idx == kit.produtos.length-1" rowspan="{{kit.produtos.length}}">
                                            <div class="especial-produto">
                                                <span class="tag kit mini" title="{{ kit.descricao }}">{{kit.quantidade}} KIT<span ng-if="kit.quantidade> 1">S</span></span>
                                            </div>
                                            <div class="preco-kit">
                                                <span>De {{ kit.precoTotalOriginal | currency : "R$" : 2 }}</span>
                                                <span>Por {{kit.precoTotal | currency : "R$" : 2 }}</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div id="valores">
        <span class="col-xs-12 label-orcamento-titulo" style="padding:0">VALORES</span>
        <hr class="col-xs-12" style="padding:0">
        <span id="orcamento-subtotal" class="col-xs-12 titulo-secao" style="padding:0">
            SUBTOTAL
            <span class="orcamento-valor">{{ ctrl.totalizadores.subtotal | currency : "R$" : 2 }}</span>
        </span>
        <span id="orcamento-desconto" class="col-xs-12 titulo-secao" style="padding:0;">
            DESCONTO
            <span class="orcamento-valor">{{ ctrl.totalizadores.desconto | currency : "R$" : 2 }}</span>
        </span>
        <span id="total-orcamento" class="col-xs-12" style="padding:0">
            TOTAL
            <span class="orcamento-valor">{{ ctrl.totalizadores.total | currency : "R$" : 2 }}</span>
        </span>

    </div>
    <div id="orcamento-footer">
        <input id="limpar-orcamento" class="botao-orcamento" type="button" value="LIMPAR (F12)" ng-click="ctrl.confirmarLimparTela()">
    </div>
</div>