.div-botoes-cabecalho {
    text-align: right;
    padding-top: 13px;
    width: 200px;
    display: inline-block;
    padding-right: 20px;
}

.div-pesquisa-cabecalho {
    text-align: center;
    width: calc(100% - 330px);
    display: inline-block;
}

.input-pesquisa-cabecalho {
    width: 30%;
    display: inline;
    height: 38px;
    padding-top: 4px;
}

.padding-top-10px {
    padding-top: 10px;
}

.logo-tccenter {
    width: 120px;
    display: inline-block;
    padding-left: 20px;
}