<div>
    <div class="checkbox-balcao" ng-class="ctrl.cbModel ? 'selecionado' : ''" ng-click="ctrl.toggleCheckbox(ctrl.cbModel);">
        <i class="material-icons" ng-show="ctrl.cbModel">done</i>
    </div>
    <span ng-click="ctrl.toggleCheckbox(ctrl.cbModel);" class="checkbox-balcao-texto" ng-class="ctrl.cbModel ? 'selecionado' : ''">{{ ctrl.cbText | uppercase }}</span>
</div>