<cabecalho></cabecalho>

<div ng-controller="CadastroClienteController as ctrl" ng-init="ctrl.iniciarCadastroCliente();">
    <modalAlertaErro></modalAlertaErro>
    <div class="container-principal">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6" style="text-align: center">
                <br />
                <h1><strong>Bem vindo ao TCCenter!</strong></h1>
                <br />
                <form>
                    <div class="form-group row">
                        <div class="alinhamento-esquerda inline">
                            <label class="label-formulario label-16 alinhamento-esquerda">
                                Nome: <span class="campo-obrigatorio">*</span>
                            </label>
                        </div>
                        <div class="input-formulario">
                            <input ng-model="ctrl.Usuario.Nome"
                                   id="nome-cadastro"
                                   class="form-control {{ctrl.nomeValido ? '' : 'input-valor-invalido'}}"
                                   type="text"
                                   placeholder="Informe seu Nome...">
                        </div>
                    </div>
                    <br />
                    <div class="form-group row">
                        <div class="alinhamento-esquerda inline">
                            <label class="label-formulario label-16 alinhamento-esquerda">
                                E-mail: <span class="campo-obrigatorio">*</span>
                            </label>
                        </div>
                        <div class="input-formulario">
                            <input ng-model="ctrl.Usuario.Email"
                                   id="email-cadastro"
                                   class="form-control {{ctrl.emailValido ? '' : 'input-valor-invalido'}}"
                                   type="email"
                                   placeholder="Informe seu E-mail....">
                        </div>
                    </div>
                    <br />
                    <div class="form-group row">
                        <div class="alinhamento-esquerda inline">
                            <label class="label-formulario label-16 alinhamento-esquerda">
                                Senha: <span class="campo-obrigatorio">*</span>
                            </label>
                        </div>
                        <div class="input-formulario" style="text-align: left">
                            <input ng-model="ctrl.Usuario.Senha"
                                   id="senha-cadastro"
                                   class="form-control {{ctrl.senhaValida ? '' : 'input-valor-invalido'}}"
                                   type="password"
                                   placeholder="Informe sua Senha...">
                        </div>
                    </div>
                    <br />
                    <div class="form-group row">
                        <div class="alinhamento-esquerda inline">
                            <label class="label-formulario label-16 alinhamento-esquerda">
                                Profissão: <span class="campo-obrigatorio">*</span>
                            </label>
                        </div>
                        <div class="input-formulario">
                            <input ng-model="ctrl.Usuario.Profissao"
                                   id="profissao-cadastro"
                                   class="form-control {{ctrl.profissaoValida ? '' : 'input-valor-invalido'}}"
                                   type="text"
                                   placeholder="Informe sua Profissão...">
                        </div>
                    </div>
                    <br />
                    <div class="form-group row">
                        <div class="alinhamento-esquerda inline">
                            <label class="label-formulario label-16">
                                Avatar:
                            </label>
                        </div>
                        <div class="input-formulario">
                            <input type="file" id="avatarUsu" onchange="ctrl.obterImagemAvatar(this)" />
                        </div>
                    </div>
                    <br />
                    <div class="form-group row">
                        <div class="alinhamento-esquerda">
                            <label class="label-16 label-formulario">Interesses:</label>
                        </div>
                        <br />
                        <div class="col-sm-12 alinhamento-esquerda scroll-topicos">
                            <div class="espacamento-formulario" ng-repeat="(idx, item) in ctrl.topicoMestre">
                                <label class="label-14">{{idx+1}} - {{item.DescricaoTopicoMestre}}:</label>
                                <div ng-repeat="(idx, item) in item.TopicosInteressantes">
                                    <div class="col-sm-4 nopad chk-topicos-interessantes alinhamento-esquerda" style="height:50px">
                                        <div class="chk-id-topico alinhamento-esquerda">
                                            <input type="checkbox" value="{{item.IdTopicosInteressantes}}" ng-click="ctrl.marcarCheck(item)" />
                                        </div><div class="chk-descricao-topico">
                                            <label>{{item.DescricaoTopico}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 margin-50">
                            <input type="button" value="Enviar" class="botao-modal" id="Enviar" ng-click="ctrl.cadastrarUsuario();" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-3">

            </div>
        </div>
    </div>
</div>

<rodape></rodape>