<cabecalho></cabecalho>

<div ng-controller="CadastroClienteController as ctrl" ng-init="ctrl.iniciarCadastroCliente();">
    <modalAlertaErro></modalAlertaErro>
    <div class="container-principal">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6" style="text-align: center">
                <br />
                <h1><strong>Bem vindo ao TCCenter!</strong></h1>
                <br />
                <form>
                    <div class="form-group row">
                        <label class="col-sm-2 label-16 alinhamento-esquerda nopad">
                            Nome: <span class="campo-obrigatorio">*</span>
                        </label>
                        <div class="col-sm-10">
                            <input ng-model="ctrl.Usuario.Nome"
                                   id="nome-cadastro"
                                   class="form-control {{ctrl.nomeValido ? '' : 'input-valor-invalido'}}"
                                   type="text"
                                   placeholder="Informe seu Nome...">
                        </div>
                    </div>
                    <br />
                    <div class="form-group row">
                        <label class="col-sm-2 label-16 alinhamento-esquerda nopad">
                            E-mail: <span class="campo-obrigatorio">*</span>
                        </label>
                        <div class="col-sm-10">
                            <input ng-model="ctrl.Usuario.Email"
                                   id="email-cadastro"
                                   class="form-control {{ctrl.emailValido ? '' : 'input-valor-invalido'}}"
                                   type="email"
                                   placeholder="Informe seu E-mail....">
                        </div>
                    </div>
                    <br />
                    <div class="form-group row">
                        <label class="col-sm-2 label-16 alinhamento-esquerda nopad">
                            Senha: <span class="campo-obrigatorio">*</span>
                        </label>
                        <div class="col-sm-10" style="text-align: left">
                            <input ng-model="ctrl.Usuario.Senha"
                                   id="senha-cadastro"
                                   class="form-control {{ctrl.senhaValida ? '' : 'input-valor-invalido'}}"
                                   type="password"
                                   placeholder="Informe sua Senha...">
                        </div>
                    </div>
                    <br />
                    <div class="form-group row">
                        <label class="col-sm-2 label-16 alinhamento-esquerda nopad">
                            Profissão: <span class="campo-obrigatorio">*</span>
                        </label>
                        <div class="col-sm-10">
                            <input ng-model="ctrl.Usuario.Profissao"
                                   id="profissao-cadastro"
                                   class="form-control {{ctrl.profissaoValida ? '' : 'input-valor-invalido'}}"
                                   type="text"
                                   placeholder="Informe sua Profissão...">
                        </div>
                    </div>
                    <br />
                    <div class="form-group row">
                        <label class="col-sm-2 label-16 alinhamento-esquerda nopad">
                            Avatar:
                        </label>
                        <div class="col-sm-10">
                            <input type="file" id="avatarUsu" onchange="ctrl.obterImagemAvatar(this)"/>
                        </div>
                    </div>
                    <br />
                    <div class="form-group row">
                        <label class="label-16 col-sm-2 alinhamento-esquerda nopad">Interesses:</label>
                        <br />
                        <div class="col-sm-12">
                            <div ng-repeat="(idx, item) in ctrl.topicosInteressantes">
                                <div class="col-sm-3 nopad chk-topicos-interessantes">
                                    <div class="chk-id-topico">
                                        <input id="chk-topico-{{idx}}" type="checkbox" value="{{item.IdTopicosInteressantes}}" ng-click="ctrl.marcarCheck(item)" />
                                    </div>
                                    <div class="chk-descricao-topico alinhamento-esquerda">
                                        <label>{{item.DescricaoTopico}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 margin-50">
                            <input type="submit" value="Enviar" class="btn btn-secondary" id="Enviar" ng-click="ctrl.cadastrarUsuario();" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-3">

            </div>
        </div>
    </div>
</div>

<rodape></rodape>