.input-valor-invalido {
    border-color: red !important;
    background-color: #ffe5e5 !important;
}

.inline{
    display: inline-block;
}

.fotinha-perfil {
    width: 50px;
    height: auto;
    border-radius: 100%;
}

.fotinha {
    width: 40px;
    height: auto;
    margin-top: 10px;
    border-radius: 100%;
}

.borda-publicacao {
    position: relative;
    border: 1px solid #aaaaaa;
    padding: 15px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 25px;
    box-shadow: 5px 5px 8px #a9a9a9;
}

.aviso-erro {
    color: red;
}

.espacamento-formulario {
    padding-top: 10px;
}

.alinhamento-esquerda {
    text-align: left !important;
}

.alinhamento-direita {
    text-align: right !important;
}

.container-principal {
    width: 100%;
    min-height: calc(100vh - 103px);
}

.cabecalho-tccenter {
    background-color: #212529;
    width: 100%;
    height: 60px;
}

.rodape-tccenter {
    background-color: #212529;
    width: 100%;
    height: 43px;
}

.div-cadastro-publicacao {
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    color: red;
}

a {
    color: black !important;
    cursor: pointer;
    text-decoration: none !important;
}

.label-16 {
    font-size: 16px;
    font-weight: 700;
}

.label-14 {
    font-size: 14px;
    font-weight: 700;
}

.margin-50{
    margin-bottom: 50px;
}

.centralizar {
    text-align: center !important;
}

.label-formulario{
    display: inline-block;
    width: 100px;
}

.input-formulario {
    display: inline-block;
    width: calc(100% - 120px);
}

.input-formulario-editar {
    display: inline-block;
    width: calc(100% - 170px);
}

.label-formulario-editar {
    display: inline-block;
    width: 150px;
}

.texto-branco {
    color: white !important;
    cursor: pointer;
}

.scroll-topicos {
    height: 300px;
    overflow-y: scroll;
}

.chk-topicos-interessantes {
    margin-top: 10px;
    display: inline-block;
    height: 50px;
}

.chk-id-topico {
    width: 8%;
    display: inline-block;
    top:0;
    vertical-align: top;
}

.chk-descricao-topico {
    width: 90%;
    display: inline-block;
    font-weight: 100 !important;
    padding-left: 2px;
}

textarea:focus, input:not([type=button]):focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 solid;
    outline: 0;
    border-radius: 2px;
}

html, body {
    margin: 0px;
    height: 100%;
    overflow-x: hidden;
}

    body.modal-aberto {
        overflow-y: hidden;
    }

@font-face {
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir Next Regular'), url('../Fonts/AvenirNext-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Avenir Next Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir Next Bold'), url('../Fonts/AvenirNext-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Avenir Next Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir Next Medium'), url('../Fonts/AvenirNext-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Avenir Next DemiBold';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir Next DemiBold'), url('../Fonts/AvenirNext-DemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Avenir Next UltraLight';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir Next UltraLight'), url('../Fonts/AvenirNext-UltraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'Avenir Next Heavy';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir Next Heavy'), url('../Fonts/AvenirNext-Heavy.ttf') format('truetype');
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url('../Fonts/Material-Icons.ttf') format('truetype');
}

span {
    cursor: default;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    cursor: default;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.cabecalho-araujo {
    width: 100%;
    height: 60px;
    background-color: #A4B3B7;
    padding-top: 0;
}

.logo-araujo {
    width: 91px;
    height: 39px;
    background-repeat: no-repeat;
    background-position: left;
    margin-top: 11px;
    margin-left: 15%;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
}

#container-consulta-produtos {
    display: block;
    width: 100%;
    height: calc(100% - 60px);
    min-height: 390px;
}

#container-principal {
    height: 100%;
    display: block;
    min-height: 390px;
    background-color: #fafafa;
    background: linear-gradient(to left, #F1F1F1, #FAFAFA 10%, #FAFAFA);
}

    #container-principal.selecionado {
        background-color: #ffffff;
        background: initial;
    }


input[type=file] {
    padding-top: 5px;
}

.input-escondido {
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
}

.input-foco-fundo-azul:focus {
    background-color: #e6f2fa !important;
}


.titulo-secao {
    color: #0f5db8;
    font-family: "Avenir Next Medium";
    font-size: 14px;
    font-weight: 900;
    letter-spacing: -0.04px;
    text-transform: uppercase;
    display: inline-block;
}

.sub-titulo-secao {
    color: #0f5db8;
    font-family: "Avenir Next";
    font-size: 14px;
    font-weight: 900;
    letter-spacing: -0.04px;
    display: block;
}

.titulo-secao-icone {
    font-size: 18px !important;
    color: #93a4a8;
}

select {
    width: 100%;
    border: none;
    border-bottom: 1px solid;
    border-radius: 0;
    border-bottom-color: #a4b3b7;
    padding-top: 3px;
}

    select:focus {
        border-bottom: 1px solid;
        border-bottom-color: #0873c5;
        border-radius: 0;
    }

    select:disabled {
        border: none;
        border-bottom: 1px solid #DDD;
    }

.formulario .titulo-campo {
    color: #848888;
    font-family: "Avenir Next Medium";
    font-size: 9px;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    width: 90%;
}

.campo-obrigatorio {
    color: red;
}


hr {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    border-color: #a4b3b7 !important;
    padding-bottom: 15px;
    width: 100%;
}

.tag {
    border-radius: 4px;
    display: inline-block;
    padding: 5px;
    font-size: 12px;
    width: 45px;
    text-align: center;
    color: #FFF;
    border: 1px solid;
    height: 25px;
    margin: -4px 2px 0;
    vertical-align: middle;
    line-height: 25px;
}

.modal {
    display: block !important;
    background-color: rgba(0,0,0,.7);
}

    .modal.fade {
        opacity: initial !important;
    }

    .modal .titulo-modal {
        color: #848888;
        font-family: "Avenir Next";
        font-size: 16px;
        font-weight: 600;
        letter-spacing: -0.04px;
        text-transform: uppercase;
    }

    .modal .subtitulo-modal {
        height: 40px;
        padding-top: 10px;
    }

        .modal .subtitulo-modal span {
            padding-left: 3%;
            height: 14px;
            color: #0873c5;
            font-family: "Avenir Next Medium";
            font-size: 10px;
            font-weight: 700;
            text-transform: uppercase;
        }


    .modal .titulo-campo-modal {
        color: #848888;
        font-family: "Avenir Next Medium";
        font-size: 9px;
        font-weight: 700;
        text-transform: uppercase;
        display: block;
    }

.loader {
    position: absolute;
    top: 10px;
    left: 8px;
    border: 3px solid #93a4a8;
    border-radius: 50%;
    border-top: 3px solid #0f5db8;
    width: 20px;
    height: 20px;
    animation: spin 0.5s linear infinite;
}

@keyframes tooltipshow {
    0% {
        opacity: 0;
        display: none;
    }

    30% {
        opacity: 0;
        display: block;
    }

    to {
        opacity: 1;
    }
}

.elemento-tooltip {
    position: relative;
}

    .elemento-tooltip .texto-tooltip {
        display: none;
        background-color: #194283;
        color: #fafafa;
        text-align: center;
        border-radius: 2px;
        padding: 5px 5px;
        box-shadow: 2px 2px 5px #888888;
        /* Position the tooltip */
        position: absolute;
        z-index: 999;
        white-space: normal;
        font-family: 'Avenir Next';
        font-size: 10px;
        margin-top: 10px;
    }

    .elemento-tooltip:hover .texto-tooltip {
        animation-name: tooltipshow;
        animation-duration: 1s;
        display: block;
    }

thead {
    display: block;
}

table td.numerico,
table th.numerico {
    text-align: right !important;
}

table td.centralizado,
table th.centralizado {
    text-align: center !important;
}

table.tabela-produtos {
    overflow: hidden;
    width: 100%;
    color: #474746;
    font-size: 12px;
    display: flex;
    flex-direction: column;
}

    table.tabela-produtos tbody {
        width: 100%;
        float: left;
    }

    table.tabela-produtos tr {
        display: block;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: default;
    }

        table.tabela-produtos tr th {
            font-size: 10px;
            height: 35px;
            border-bottom: 1px solid #e8eded;
            display: inline-block;
            padding-top: 7px;
        }

            table.tabela-produtos tr th #texto-f1 {
                color: #0873c5;
                font-family: 'Avenir Next Bold';
                /*min-width:45px;*/
            }

        table.tabela-produtos tr td {
            border-bottom: 1px solid #e8eded;
            display: inline-block;
        }

            table.tabela-produtos tr td > div {
                height: inherit;
                width: inherit;
                margin: 2px 0;
                height: 40px;
                line-height: 40px;
                font-family: 'Avenir Next';
            }

            table.tabela-produtos tr td.duas-linhas > div > span {
                display: block;
                line-height: 20px;
            }

            table.tabela-produtos tr td .texto-fp {
                color: #be000d;
                line-height: inherit;
                font-weight: 500;
            }

            table.tabela-produtos tr td .texto-fp-inativo {
                color: #a4b3b7;
                line-height: inherit;
                font-weight: 500;
            }

        table.tabela-produtos tr.selected td > div {
            background-color: #e6f2fa;
        }

        table.tabela-produtos tr td > div * {
            line-height: normal;
        }

    table.tabela-produtos thead tr th {
        text-align: left;
        color: #848888;
        font-family: "Avenir Next Bold";
        font-weight: 700;
    }

    table.tabela-produtos .linha-produto-nome {
        height: 20px;
        padding-top: 5px;
    }

    table.tabela-produtos .produto-nome {
        display: inline-block;
        font-size: 11px;
        font-weight: bold;
        max-width: 85%;
        overflow: hidden;
        height: 14px;
    }

    table.tabela-produtos .produto-fabricante {
        height: 20px;
        font-size: 10px;
        max-width: 95%;
        overflow: hidden;
        line-height: 25px;
        display: table;
    }

        table.tabela-produtos .produto-fabricante span {
            vertical-align: middle;
            display: table-cell;
        }

    table.tabela-produtos .preco-de {
        opacity: .5;
        text-decoration: line-through;
    }

    table.tabela-produtos .preco-por {
        font-size: 14px;
    }

input.input-grande-azul {
    width: 100% !important;
    border: 2px solid #0286d9 !important;
    text-align: center;
    font-size: 30px !important;
    font-family: "Avenir Next";
    font-weight: 500;
    border-radius: 5px !important;
    color: #0286d9;
    height: 100px;
    line-height: 100px;
}

.input-grande-azul::-webkit-input-placeholder {
    color: #0286d9;
    font-size: 13px !important;
    font-weight: 600;
}

.input-grande-azul::-moz-placeholder {
    color: #0a74c4;
    font-weight: 600;
    font-size: 13px !important;
}

.input-grande-azul:disabled {
    background-color: inherit;
    border-radius: 5px;
    border: 2px solid #0286d9 !important;
    color: #0286d9;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.link-sistema {
    display: inline-block;
    line-height: 10px;
    color: #0f5db8;
    font-family: "Avenir Next Medium";
    font-size: 12px;
    cursor: pointer;
    font-weight: 600;
    text-decoration: underline;
    line-height: 15px;
}

.col-sem-pad {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.col-sem-pad-direita {
    padding-right: 0 !important;
}

.col-sem-pad-esquerda {
    padding-left: 0 !important;
}

select {
    /*-webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    float: left;*/
}

    select:disabled {
        background-color: inherit;
    }

.busca-box {
    padding-left: 0px !important;
    padding-right: 0px !important;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #a4b3b7;
}

    .busca-box .icone-pesquisa {
        top: 10px;
        left: 8px;
        font-size: 20px;
        color: #93a4a8;
        position: absolute;
        cursor: pointer;
    }

    .busca-box .input-busca {
        border: none !important;
        padding-left: 35px;
        width: 100%;
        height: 38px;
        line-height: 38px;
        border-radius: 3px;
        background-color: inherit;
    }

    .busca-box span {
        color: #484848;
        font-family: "Avenir Next";
        font-size: 12px;
        width: 90%;
    }

.texto-leitura-otica {
    font-size: 12px;
    font-family: "Avenir Next";
    font-weight: 500;
}

.botao-modal {
    background-color: #212529;
    color: #FFF;
    border: 0;
    border-radius: 4px;
}

    .botao-modal.cinza {
        background-color: #83888a !important;
    }

    .botao-modal.branco {
        background-color: #FFF;
        color: #194283;
        border: 1px solid #a4b3b7;
    }

.container-alinhamento {
    display: table;
    height: 90px;
}

    .container-alinhamento div {
        display: table-cell;
        vertical-align: middle;
        height: 100%;
    }

.container-texto-leitura-otica {
    padding-top: 15px;
}

    .container-texto-leitura-otica input.default {
        color: #0286d9;
        border: 2px solid #0286d9;
        border-radius: 5px;
    }

    .container-texto-leitura-otica input.vazio {
        color: transparent;
        border: 2px solid #0286d9;
        border-radius: 5px;
    }

    .container-texto-leitura-otica input.erro {
        color: #a4b3b7;
        border: 2px solid #CC020D;
        border-radius: 5px;
    }

.container-cards {
    display: block;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #AAA;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

    .container-cards.transparente {
        background-color: inherit;
        box-shadow: none;
        margin-bottom: 0;
    }

.container-cards-loading {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.9);
    z-index: 1;
    left: 0;
    border-radius: 5px;
}

.container-titulo-card {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 60px;
}

.checkbox-balcao {
    height: 15px;
    width: 15px;
    border-radius: 2px;
    border: 2px solid #a4b3b7;
    display: inline-block;
    vertical-align: middle;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
}

    .checkbox-balcao i {
        color: #0286d9;
        font-size: 16px;
        vertical-align: initial;
        position: absolute;
        left: -2px;
        top: -3px;
        font-weight: 600;
    }

    .checkbox-balcao.selecionado {
        border: 2px solid #0286d9;
    }

.checkbox-balcao-texto {
    font-family: "Avenir Next Medium";
    font-weight: 600;
    font-size: 10px;
    padding-left: 5px;
    color: #a4b3b7;
    cursor: pointer;
}

    .checkbox-balcao-texto.selecionado {
        color: #0286d9;
    }

.formulario .titulo-campo {
    color: #848888;
    font-family: "Avenir Next Medium";
    font-size: 9px;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    width: 90%;
}

.formulario input[type=text] {
    width: 100%;
}

.formulario input:disabled {
    background-color: inherit;
    border-bottom: 1px solid #DDD;
}

.formulario select:disabled {
    border: none;
    border-bottom: 1px solid #DDD;
}

.formulario .linha-inputs {
    height: 50px;
}

.formulario .campo-obrigatorio:after {
    content: "";
    position: absolute;
    height: 5px;
    width: 5px;
    background-color: #CC020D;
    border-radius: 50%;
    right: 16px;
    top: 10px;
}

.formulario .campo-obrigatorio.final:after {
    right: 1px;
}

.formulario .campo-obrigatorio.cinza:after {
    background-color: #a4b3b7;
}

.balao-balcao-externo:hover .balao-balcao,
.balao-balcao-externo:hover .seta-balao-balcao {
    display: block;
    opacity: 1;
    animation: fadein .3s linear 0s;
}


.balao-balcao {
    position: absolute;
    background-color: #FFF;
    box-shadow: 1px 1px 6px #888;
    font-size: 14px;
    width: 225px;
    left: -100px;
    bottom: 34px;
    padding: 15px;
    border-radius: 3px;
    display: none;
    opacity: 0;
}

.seta-balao-balcao {
    color: #FFF;
    position: absolute;
    font-size: 15px;
    text-shadow: 2px 1px 3px #888;
    bottom: 24px;
    left: 3px;
    display: none;
    opacity: 0;
    transform: rotate(45deg);
}

.balao-balcao table {
    width: 100%;
    font-size: 11px;
    text-align: center
}

    .balao-balcao table thead {
        display: table-header-group;
        border-bottom: 1px solid #d5e0e3;
        margin-bottom: 10px;
        color: #a3b1b5
    }

        .balao-balcao table thead td {
            padding-bottom: 5px;
            font-size: 10px
        }

    .balao-balcao table tbody {
        color: #525252;
    }

        .balao-balcao table tbody tr:first-child td {
            padding-top: 10px;
        }

.espacamento-lateral {
    margin-left: 30px !important;
    margin-right: 30px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.espacamento-lateral-100 {
    margin-left: 30px !important;
    margin-right: 30px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: calc(100% - 60px) !important;
}

.espacamento-lateral-100-nopad {
    margin-left: 30px !important;
    margin-right: 30px !important;
    width: calc(100% - 60px) !important;
}

.espacamento-lateral-10 {
    margin-left: 30px !important;
    margin-right: 30px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: calc(10% - 60px) !important;
}

.nopad {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
