<div id="modal-informacao" class="modal fade" ng-controller="modalInformacaoController as ctrl" ng-show="ctrl.exibirModal" ng-click="ctrl.fecharModal();">
    <div class="modal-dialog">
        <div class="modal-content" ng-click="$event.stopPropagation();">
            <div class="modal-header">
                <div class="col-xs-12" style="padding-right:0">
                    <span class="titulo-modal">INFORMAÇÕES DO PRODUTO (F1)</span>
                    <i class="material-icons icone-fechar" ng-click="$event.stopPropagation(); ctrl.fecharModal();">clear</i>
                </div>
                <div id="resumo-produto" class="col-xs-12" ng-if="ctrl.produto != undefined">
                    <table cellspacing="0" cellpadding="0" class="tabela-produtos">
                        <thead>
                            <tr>
                                <!-- OBS: Manter identação. Não separar </th><th> devido ao display:inline-block -->
                                <th style="width:7%">
                                    <div style="width:100%"></div>
                                </th><th style="width:37%">
                                    <div style="width:100%"></div>
                                </th><th style="width:12%" class="numerico">
                                    <div style="width:100%">DE/POR</div>
                                </th><th style="width:14%" class="numerico">
                                    <div style="width:100%">
                                        <span>T+ ARAUJO</span>
                                        <img src="~/Assets/Images/wifi-off.svg" />
                                    </div>
                                </th><th style="width:18%" class="numerico">
                                    <div style="width:100%">
                                        FARMÁCIA POP.
                                        <img src="~/Assets/Images/wifi-off.svg" />
                                    </div>
                                </th><th style="width:12%" class="numerico">
                                    <div style="width:100%">
                                        <span>DESCONTO</span>
                                    </div>
                                </th>
                            </tr>
                        <tbody width="100%">
                            <tr>
                                <!-- OBS: Manter identação. Não separar </td><td> devido ao display:inline-block -->
                                <td width="7%">
                                    <div style="width:100%;text-align: center;">
                                        <div title='{{ctrl.obterTitleClassificacao(ctrl.produto.Classificacao) }}' ng-if="ctrl.produto.Classificacao != undefined && ctrl.produto.Classificacao != ''" class="classificacao">{{ctrl.produto.Classificacao}}</div>
                                    </div>
                                </td><td width="37%">
                                    <div style="width:100%">
                                        <div class="linha-produto-nome">
                                            <div class="produto-nome">{{ctrl.produto.DescricaoResumida}}</div>
                                            <i title="Uso contínuo" ng-if="ctrl.produto.IndicUsoContinuo" class="material-icons icone-uso-continuo">autorenew</i>
                                            <i title="Geladeira" ng-if="ctrl.produto.IndicGeladeira" class="material-icons icone-refrigeracao">ac_unit</i>
                                        </div>
                                        <div class="produto-fabricante"><span>{{ctrl.produto.Fabricante}}</span></div>
                                    </div>
                                </td><td width="12%" class="numerico duas-linhas">
                                    <div style="width:100%">
                                        <span class="preco-de">{{ctrl.produto.PrecoDe | currency: "" : 2}}</span>
                                        <span class="preco-por">{{ctrl.obterPrecoPor(ctrl.produto) | currency: "" : 2}}</span>
                                    </div>
                                </td><td width="14%" class="numerico duas-linhas">
                                    <div style="width: auto;" class="texto-fp-inativo">
                                        <span ng-if="ctrl.produto.ValorPrecoCRM > 0">
                                            {{ctrl.produto.ValorPrecoCRM | currency: "" : 2}}
                                        </span>
                                        <div ng-if="ctrl.produto.ValorPrecoCRM <= 0" style="width:100%; text-decoration:line-through">
                                            &nbsp;&nbsp;&nbsp;
                                        </div>
                                    </div>
                                    <div class="texto-fp-inativo" style="width: auto;">
                                        <span ng-if="ctrl.produto.ValorPrecoCRM > 0">
                                            {{100 - (ctrl.produto.ValorPrecoCRM * 100 / ctrl.produto.PrecoDe) | currency: "" : 2}}%
                                        </span>
                                        <div ng-if="ctrl.produto.ValorPrecoCRM <= 0" style="width:100%; text-decoration:line-through" class="texto-fp-inativo">
                                            &nbsp;&nbsp;&nbsp;
                                        </div>
                                    </div>
                                </td><td width="18%" class="numerico duas-linhas">
                                    <div style="width:100%" class="texto-fp-inativo" ng-show="ctrl.produto.IndicFP">
                                        {{ctrl.produto.PrecoFP | currency: "" : 2}}
                                    </div>
                                    <div style="width:100%" class="texto-fp-inativo" ng-show="ctrl.produto.IndicFP">
                                        {{100 - (ctrl.produto.PrecoFP * 100/ctrl.produto.PrecoDe) | currency: "" : 2}}%
                                    </div>

                                    <div style="width:100%; text-decoration:line-through" class="texto-fp-inativo" ng-show="!ctrl.produto.IndicFP">
                                        &nbsp;&nbsp;&nbsp;
                                    </div>
                                    <div style="width:100%; text-decoration:line-through" class="texto-fp-inativo" ng-show="!ctrl.produto.IndicFP">
                                        &nbsp;&nbsp;&nbsp;
                                    </div>
                                </td><td width="12%" class="numerico duas-linhas">
                                    <div style="width:100%">
                                        {{ctrl.obterPrecoPor(ctrl.produto) | currency: "" : 2}}
                                    </div>
                                    <div style="width:100%" class="texto-fp">
                                        {{100 - (ctrl.obterPrecoPor(ctrl.produto) * 100/ctrl.produto.PrecoDe) | currency: "" : 2}}%
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <hr>
            <div class="modal-body">
                <div id="mais-informacoes" class="col-xs-12">
                    <div class="subtitulo-modal">
                        <span>MAIS INFORMAÇÕES</span>
                    </div>
                    <div class="col-xs-12" style="padding:0">
                        <div class="col-xs-2" style="padding-left:0">
                            <span class="titulo-campo-modal">CODIGO</span>
                            <span class="informacao-produto">{{ctrl.gerarCodigoCompleto(ctrl.produto)}}</span>
                        </div>
                        <div class="col-xs-10" style="padding-left:0">
                            <span class="titulo-campo-modal">DESCRIÇÃO</span>
                            <span class="informacao-produto">{{ctrl.produto.DescricaoCompleta}}</span>
                        </div>
                    </div>
                    <div class="col-xs-12" style="padding:0;padding-top:10px;">
                        <div class="col-xs-4" style="padding-left:0">
                            <span class="titulo-campo-modal">PRINCÍPIO ATIVO</span>
                            <span class="informacao-produto">{{ctrl.produto.PrincipioAtivo}}</span>
                        </div>
                        <div class="col-xs-4" style="padding-left:0">
                            <span class="titulo-campo-modal">CATEGORIA</span>
                            <span class="informacao-produto">{{ctrl.produto.Categoria}}</span>
                        </div>
                        <div class="col-xs-4" style="padding-left:0">
                            <span class="titulo-campo-modal">SUB CATEGORIA</span>
                            <span class="informacao-produto">{{ctrl.produto.SubCategoria}}</span>
                        </div>
                    </div>
                    <div class="col-xs-12" style="padding:0;padding-top:10px;"">
                        <div class="col-xs-4" style="padding-left:0">
                            <span class="titulo-campo-modal">TIPO DE RECEITA</span>
                            <span class="informacao-produto">{{ctrl.obterTipoReceita(ctrl.produto)}}</span>
                        </div>
                        <div class="col-xs-4" style="padding-left:0">
                            <span class="titulo-campo-modal">PERÍODO DE TRATAMENTO</span>
                            <span class="informacao-produto">{{ctrl.produto.PeriodoTratamento}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <input id="input-modal-informacao" class="input-escondido" type="text" autocomplete="off">
            <div class="modal-footer">
                <div class="col-xs-12" style="padding-top:10px">
                    <span class="dica-tabela" style="padding-right:10px">Pressione <b>ENTER</b> para incluir.</span>
                    <input type="button" class="botao-modal" value="Incluir (ENTER)" ng-click="ctrl.incluirProdutoEspecial()">
                </div>
            </div>
        </div>
    </div>
</div>
