<div class="cabecalho-tccenter" ng-controller="cabecalhoController as ctrl" ng-init="ctrl.iniciarCabecalhoController()">
    <div class="logo-tccenter">
        <a ng-click="ctrl.redirecionarTelaHome()" class="texto-branco">
            TCCenter
        </a>
    </div>
    <div class="div-pesquisa-cabecalho">
        <div ng-show="ctrl.usuarioLogado">
            <input type="text" class="form-control input-pesquisa-cabecalho" placeholder="Buscar..." id="Pesquisar">
            <button class="btn btn-secondary padding-top-10px" type="submit" id="Go">Pesquisar</button>
        </div>
    </div>
    <div class="div-botoes-cabecalho">
        <div ng-show="ctrl.usuarioLogado">
            <button class="btn btn-light" ng-click="ctrl.redirecionarTelaHome()">Home</button>
            <button class="btn btn-light" ng-click="ctrl.realizarLogout()">Logout</button>
        </div>
        <div ng-show="!ctrl.usuarioLogado">
            <button class="btn btn-light" ng-click="ctrl.redirecionarTelaCadastro()">Cadastrar</button>
            <button class="btn btn-light" ng-click="ctrl.redirecionarTelaLogin()">Login</button>
        </div>
    </div>
</div>


