<div class="col-xs-12 espacamento-lateral-100 container-externo-alinhamento" id="container-titulo" style="padding-left:0">
    <div class="container-interno-alinhamento">
        <i id="icone-voltar" class="material-icons" ng-click="ctrl.btnVoltar()">arrow_back</i>
        <span>{{ ctrl.titulo }}</span>
        <span class="dica-teclas">Para voltar para a tela principal pressione as teclas <b>CTRL</b> + <b>HOME</b></span>
    </div>
</div>