<div ng-controller="produtoController as ctrl" ng-init="ctrl.ctrlInit()">

    <div id="container-produtos" ng-click="ctrl.desselecionarLinha()">
        <div class="col-xs-12">
            <div class="col-xs-12 espacamento-lateral-100">
                <div class="container-interno-alinhamento" style="max-width:25px;">
                    <i id="icone-busca" class="material-icons titulo-secao-icone">loyalty</i>
                </div>
                <div class="container-interno-alinhamento">
                    <span class="titulo-secao"> BUSCA POR PRODUTOS (CTRL + B) </span>
                </div>
            </div>
        </div>

        <div class="col-xs-12" style="padding:0; padding-top:10px; padding-bottom:10px;">
            <div class="col-xs-12 espacamento-lateral-100" ng-click="ctrl.ativarBuscaProdutos()">
                <campobusca 
                            id-elemento="input-busca-produtos" 
                            model-elemento="ctrl.textoBusca" 
                            placeholder="Digite a descrição ou código do produto desejado" 
                            loading="ctrl.loading" 
                            funcao-busca="ctrl.buscarProdutos(bipado, texto)" 
                            busca-change="false" 
                            disable="false">
                </campobusca>
            </div>
        </div>
        <div id="resultado-busca" class="col-xs-12 espacamento-lateral-100" tabindex="1" ng-click="ctrl.cliqueTabela($event)">
            <table cellspacing="0" cellpadding="0" class="tabela-produtos">
                <thead>
                    <tr>
                        <!-- OBS: Manter identação. Não separar </th><th> devido ao display:inline-block -->
                        <th style="width:2%">
                            <div style="width:100%"></div>
                        </th><th style="width:4%">
                            <div style="width:100%"></div>
                        </th><th style="width:34%">
                            <div style="width:100%">PRODUTO</div>
                        </th><th style="width:15%">
                            <div style="width:100%">CATEGORIA</div>
                        </th><th class="numerico" style="width:8%">
                            <div style="width:100%">DE/POR</div>
                        </th><th class="numerico" style="width:13%">
                            <div style="width:100%">
                                T+ ARAUJO
                                <img src="~/Assets/Images/wifi-off.svg" />
                            </div>
                        </th><th class="numerico" style="width:8%">
                            <div style="width:100%">
                                FP
                                <img src="~/Assets/Images/wifi-off.svg" />
                                 </div>
                        </th><th class="centralizado" style="width:10%">
                            <div style="width:100%">KIT</div>
                        </th><th class="centralizado" style="width:6%">
                            <div id="texto-f1" style="width:100%">(F1)</div>
                        </th>
                    </tr>
                    <tr id="linha-equivalente" ng-class="{selected: (ctrl.produtoEquivalente.Codigo + '' + ctrl.produtoEquivalente.Digito) === ctrl.codigoProdutoSelecionado}"
                        ng-if="ctrl.produtoEquivalente != null" ng-click="ctrl.selecionarLinha(ctrl.produtoEquivalente)" ng-dblclick="ctrl.adicionarProduto();">
                        <td width="2%">
                            <div style="width:100%">
                            </div>
                        </td><td width="4%">
                            <div style="width:100%">
                                <div title='{{ ctrl.obterTitleClassificacao(ctrl.produtoEquivalente.Classificacao) }}' ng-if="ctrl.produtoEquivalente.Classificacao != undefined && ctrl.produtoEquivalente.Classificacao != ''" class="classificacao">{{ctrl.produtoEquivalente.Classificacao}}</div>
                            </div>
                        </td><td width="34%">
                            <div style="width:100%">
                                <div class="linha-produto-nome">
                                    <div class="produto-nome">{{ctrl.produtoEquivalente.DescricaoResumida}}</div>
                                    <i title="Uso contínuo" ng-if="ctrl.produtoEquivalente.IndicUsoContinuo" class="material-icons icone-uso-continuo">autorenew</i>
                                    <i title="Geladeira" ng-if="ctrl.produtoEquivalente.IndicGeladeira" class="material-icons icone-refrigeracao">ac_unit</i>
                                </div>
                                <div class="produto-fabricante"><span>{{ctrl.produtoEquivalente.Fabricante}}</span></div>
                            </div>
                        </td><td width="15%">
                            <div style="width:100%">
                                <div title="Farmácia Popular" ng-if="ctrl.produtoEquivalente.IndicFP" class="tag fp"
                                     ng-dblclick="ctrl.adicionarProdutoEspecial(); $event.stopPropagation();">
                                </div>
                                <div title="Gerenciamento de Benefícios de Medicamentos" ng-if="ctrl.produtoEquivalente.IndicGBM" class="tag gbm"></div>
                                <div title="Programa de Benefício em Medicamentos" ng-if="ctrl.produtoEquivalente.IndicPBM" class="tag pbm"></div>
                                <div title="Receita" ng-if="ctrl.produtoEquivalente.IndicREC" class="tag rec"></div>
                            </div>
                        </td><td class="numerico duas-linhas" width="8%">
                            <div ng-if="!ctrl.produtoEquivalente.IndicExclusivoFP" style="width:100%">
                                {{ctrl.produtoEquivalente.PrecoDe == ctrl.obterPrecoPor(ctrl.produtoEquivalente) ? (ctrl.produtoEquivalente.PrecoDe | currency: "" : 2) : ''}}
                                <span ng-show="ctrl.produtoEquivalente.PrecoDe > ctrl.obterPrecoPor(ctrl.produtoEquivalente)" class="preco-de">{{ctrl.produtoEquivalente.PrecoDe | currency: "" : 2}}</span>
                                <span ng-show="ctrl.produtoEquivalente.PrecoDe > ctrl.obterPrecoPor(ctrl.produtoEquivalente)" class="preco-por">{{ctrl.obterPrecoPor(ctrl.produtoEquivalente) | currency: "" : 2}}</span>
                            </div>
                            <div ng-if="ctrl.produtoEquivalente.IndicExclusivoFP" style="width:100%"></div>
                        </td><td class="numerico" width="13%">
                            <div ng-if="!ctrl.produtoEquivalente.IndicExclusivoFP" style="width:100%">
                                <span ng-show="ctrl.produtoEquivalente.ValorPrecoCRM > 0" class="inativo">{{ctrl.produtoEquivalente.ValorPrecoCRM | currency: "" : 2}}</span>
                            </div>
                            <div ng-if="ctrl.produtoEquivalente.IndicExclusivoFP" style="width:100%"></div>
                        </td><td class="numerico" width="8%">
                            <div style="width:100%">
                                <div ng-if="ctrl.produtoEquivalente.IndicFP"
                                     class="texto-fp-inativo">{{ctrl.produtoEquivalente.PrecoFP | currency: "" : 2}}</div>
                            </div>
                        </td><td class="centralizado" width="10%">
                            <div style="width:100%">
                                <div style="display:inline-block">
                                    <span ng-show="ctrl.ehKitModeloA(ctrl.produtoEquivalente.TipoRegraKit)">
                                        {{ctrl.produtoEquivalente.DinamicaKit}}
                                    </span>
                                    <div class="borda-icone-kit" ng-show="ctrl.ehKitModeloB(ctrl.produtoEquivalente.TipoRegraKit)">
                                        <i title="{{ctrl.produtoEquivalente.DinamicaKit}}" class="material-icons icone-kit">star</i>
                                    </div>
                                </div>
                            </div>
                        </td><td class="centralizado" width="6%">
                            <div style="width:100%">
                                <i title="Informações do produto" ng-click="ctrl.exibirInformacoes(ctrl.produtoEquivalente)" class="material-icons icone-informacao">info_outline</i>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody ng-style="ctrl.tamanhoTabela" width="100%">
                    <tr ng-class="{selected: (produto.Codigo + '' + produto.Digito) === ctrl.codigoProdutoSelecionado}"
                        ng-repeat="produto in ctrl.produtos track by $index" ng-click="ctrl.selecionarLinha(produto); ctrl.AjustarGridAposClique(); "
                        ng-dblclick="ctrl.adicionarProduto();" style="{{ctrl.corLinhaProduto(produto)}}">
                        <!-- OBS: Manter identação. Não separar </td><td> devido ao display:inline-block -->
                        <td width="2%">
                            <div style="width:100%">
                            </div>
                        </td><td width="4%">
                            <div style="width:100%">
                                <div title='{{ ctrl.obterTitleClassificacao(produto.Classificacao) }}' ng-if="produto.Classificacao != undefined && produto.Classificacao != ''" class="classificacao">{{(ctrl.produtoEquivalente != null && produto.Classificacao == 'S' && produto.IndicIntercambiavel) ? 'SI' : produto.Classificacao}}</div>
                            </div>
                        </td><td width="34%">
                            <div style="width:100%">
                                <div class="linha-produto-nome">
                                    <div class="produto-nome">{{produto.DescricaoResumida}}</div>
                                    <i title="Uso contínuo" ng-if="produto.IndicUsoContinuo" class="material-icons icone-uso-continuo">autorenew</i>
                                    <i title="Geladeira" ng-if="produto.IndicGeladeira" class="material-icons icone-refrigeracao">ac_unit</i>
                                </div>
                                <div class="produto-fabricante"><span>{{produto.Fabricante}}</span></div>
                            </div>
                        </td><td width="15%">
                            <div style="width:100%">
                                <div title="Farmácia Popular" ng-if="produto.IndicFP" class="tag fp"
                                     ng-dblclick="ctrl.adicionarProdutoEspecial(); $event.stopPropagation();">
                                </div>
                                <div title="Gerenciamento de Benefícios de Medicamentos" ng-if="produto.IndicGBM" class="tag gbm"></div>
                                <div title="Programa de Benefício em Medicamentos" ng-if="produto.IndicPBM" class="tag pbm"></div>
                                <div title="Receita" ng-if="produto.IndicREC" class="tag rec"></div>
                            </div>
                        </td><td class="numerico duas-linhas" width="8%">
                            <div ng-if="!produto.IndicExclusivoFP" style="width:100%">
                                {{produto.PrecoDe == ctrl.obterPrecoPor(produto) ? (produto.PrecoDe | currency: "" : 2) : ''}}
                                <span ng-show="produto.PrecoDe > ctrl.obterPrecoPor(produto)" class="preco-de">{{produto.PrecoDe | currency: "" : 2}}</span>
                                <span ng-show="produto.PrecoDe > ctrl.obterPrecoPor(produto)" class="preco-por">{{ctrl.obterPrecoPor(produto) | currency: "" : 2}}</span>
                            </div>
                            <div ng-if="produto.IndicExclusivoFP" style="width:100%"></div>
                        </td><td class="numerico" width="13%">
                            <div ng-if="!produto.IndicExclusivoFP" style="width:100%">
                                <span ng-show="produto.ValorPrecoCRM > 0" class="inativo">{{produto.ValorPrecoCRM | currency: "" : 2}}</span>
                            </div>
                            <div ng-if="produto.IndicExclusivoFP" style="width:100%"></div>
                        </td><td class="numerico" width="8%">
                            <div style="width:100%"><div ng-if="produto.IndicFP" class="texto-fp-inativo">{{produto.PrecoFP | currency: "" : 2}}</div></div>
                        </td><td class="centralizado" width="10%">
                            <div style="width:100%">
                                <div style="display:inline-block">
                                    <span ng-show="ctrl.ehKitModeloA(produto.TipoRegraKit)">
                                        {{produto.DinamicaKit}}
                                    </span>
                                    <div class="borda-icone-kit" ng-show="ctrl.ehKitModeloB(produto.TipoRegraKit)">
                                        <i title="{{produto.DinamicaKit}}" class="material-icons icone-kit">star</i>
                                    </div>
                                </div>
                            </div>
                        </td><td class="centralizado" width="6%">
                            <div style="width:100%">
                                <i title="Informações do produto" ng-click="ctrl.exibirInformacoes(produto)" class="material-icons icone-informacao">info_outline</i>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-xs-12 espacamento-lateral-100" id="container-footer" ng-click="ctrl.desselecionarLinha()">
        <hr>
        <div class="col-xs-7">
            <span class="col-xs-12 dica-tabela" style="padding:0">Utilize as teclas de atalho <b>PgUp</b> e <b>PgDn</b> para utilizar a rolagem máxima da tabela.</span>
            <span class="col-xs-12 dica-tabela" style="padding:0">Pressione <b>ENTER</b> para incluir.</span>
        </div>
        <div class="col-xs-5" style="padding:0">
            <input class="botao-produtos pull-right" type="button" value="{{ctrl.textoBotaoEquivalentes}}" ng-click="$event.stopPropagation(); ctrl.obterEquivalentes()" ng-disabled="!ctrl.codigoProdutoSelecionado && ctrl.textoBotaoEquivalentes == 'Equivalentes (F3)'">
        </div>
    </div>
</div>

