<div class="borda-scrollbar-cima">
    <b>Sugestões de Usuários</b>
</div>
<div class="scrollbar" style="height:150px !important" ng-repeat="item in ctrl.SugestoesUsuario">
    <div class="row" style="width: 100%">
        <div class="col-md-12">
                <div class="row" style="margin-top: 3%; margin-left: 2%">
                    <div class="col-md-2">
                        <a ng-click="ctrl.exibirPerfilUsuario(item.Id);">
                            <img src="~/Assets/Images/foto.jpg" @*src="~/Images/Profile/{{ctrl.Usuario.Avatar}}"*@ class="fotinha-micro">
                        </a>
                    </div>
                    <div class="col-md-8" style="text-align:center; margin-top: 3%">
                        <a ng-click="ctrl.exibirPerfilUsuario(item.Id);">
                            {{item.Nome}}
                        </a>

                    </div>
                    <div class="col-md-2">
                        <a ng-click="ctrl.seguirUsuario(item.Id)">
                            <i class="material-icons" style="cursor: pointer">add_circle</i>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>