<div>
    <div class="busca-box" ng-click="clicarCampoBusca()">
        <i ng-if="!loading" class="material-icons icone-pesquisa" ng-click="$event.stopPropagation(); buscar()">search</i>
        <div id="loading-busca-box" ng-if="loading" class="loader"></div>
        <input id="{{idElemento}}" class="input-foco-fundo-azul input-busca" type="text" 
               ng-model="modelElemento"
               placeholder="{{placeholder}}"
               ng-change="buscaChange && buscar();"
               ng-click="clicarCampoBusca()"
               ng-show="!disable"
               autocomplete="off">
        <span class="input-busca"
              ng-show="disable",
              ng-click="clicarCampoBusca()">
              {{modelElemento}}
        </span>
    </div>
</div>