<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
  <variable name="myvar" value="myvalue"/>
  <targets>
    <target xsi:type="File"
				name="f"
				layout="${longdate} ${threadid} ${uppercase:${level}} ${aspnet-item:variable=log-guid} ${aspnet-item:variable=log-direction} ${message}"
				fileName="C:\logs\api\gestao-negocio\fornecedores\current.txt"
				archiveFileName="C:\logs\api\gestao-negocio\fornecedores\log.{##}.txt"
				archiveNumbering="Rolling"
				maxArchiveFiles="10"
				archiveAboveSize="104857600"
				concurrentWrites="false"
				/>
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="f" />
  </rules>
</nlog>